* {
    /* border: 1px dotted red; */
    
}

body{
    color: white;
    background: url('https://upload.wikimedia.org/wikipedia/commons/0/0a/Flag_of_Jamaica.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.JamFlex-container1{
    display: flex;
    justify-content: space-between;
    border: 5px  solid black;
}

.JamCity-card{
    
    padding: 2em;
    
    
}

.JamFlex-container2{
    display: flex;
    justify-content: space-between;
}

img{
    width: 50%;
    size: auto;

}