.navbar{
    background-color: #FFFF;
    font-size: large;
} 
.flex-container1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1em;
    flex-direction: column;
    flex-basis: 85%;
    font-size: 18px;
    text-align: center;
    border: 2px solid white;
    

}
.city-container1{
    justify-content: space-evenly;
   display: flex;
   margin: .5em;
   flex-direction: row;
   flex-wrap: wrap;
   flex-basis: 85%;
   font-size: 18px;
   text-align: center;
   padding: 1em;
   align-items: center;
   background-color: #012169;
}

.flex-container2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-basis: 90%;
    flex-direction: column;
}
.celeb-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em;
    flex-direction: column;
    flex-basis: 100%;
    font-size: 18px;
    text-align: initial;
    
}
body{
    color: white;
   background-color: #012169;
   background: url(https://i.imgur.com/6NXMWZn.jpeg);
   background-size: cover;
   background-repeat: no-repeat; 
   
}
img{
    width: 290px;
    height: auto;
}
header{
    font-size: larger;
    background-color: #C8102E;
}
.nZCity {
    width: 30%;
}
.nZCeleb {
    width: 30%;
    border: 1px solid white;
    margin: 3em;
    display: flex;
    flex-flow: row wrap;
}
.celeb__name{
    font-size: larger;
}
.celeb__info{
    display: flex;
    flex-flow: row;
    color: #C8102E;
    margin-left: 22%;
}
.celeb__image{
    display: flex;
}